.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.modal__close-icon {
  transition: fill var(--duration) var(--timing-function);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}
